
KO_Data_V2_Featurized.csv
models/embedded ko sequence data.csv
models/embedded sequence data.csv
models/off-target embedded sequence data.csv
data/AIO_offTarget_V2_Featurized.csv
NLP project/AIO_offTarget_V2_Featurized.csv
NLP project/embedded sequence data.csv
NLP project/off-target embedded sequence data.csv
NLP final project/embedded sequence data.csv
NLP final project/AIO_offTarget_V2_Featurized.csv
NLP final project/off-target embedded sequence data.csv
IanHay_JaesonPyeon_ZainAlam_option3.zip
NLP final project 2/AIO_offTarget_V2_Featurized.csv
NLP final project 2/embedded sequence data.csv
NLP final project 2/off-target embedded sequence data.csv
AIO_offTarget_V2_Featurized.csv
embedded sequence data.csv
off-target embedded sequence data.csv
archive/models/embedded ko sequence data.csv
